@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.text-container-service {
    min-height: fit-content;
    /* padding: 20px; */
    /* margin-top: 70px; */
    background-color: #091257;
    color: #FFF;
}

.text-container-service .text {
    /* box-shadow: 0 8px 6px -6px rgba(252, 250, 250, 0.925); */
    text-align: left;
}

.text p {
    margin-bottom: 20px;


}

.text h2 {
    font-size: xx-large;
}

.text p span {
    color: rgb(68, 68, 223);
    margin-right: 5px;
}

.text-content {
    background-color: #FFF !important;
    /* height: 750px !important; */
    color: #000;
    width: 100%;
    margin-top: 80px;
    padding-top: 30px;
    min-height: fit-content;
    display: flex !important;
    flex-direction: column !important;
    gap: 20px !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding: 20px;
}

.text-content h2 {
    font-weight: bold;
    margin-top: 20px;
}

.text-content p {
    margin-top: 20px;
    text-align: start;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #585858;
    font-weight: 500;
    letter-spacing: 1px;


}

.text-content .pser {
    border: 1px solid #ccc;
    padding: 71px;
}

.text-content img {
    width: 40%;
    height: 40%;

    display: inline-block;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .text-content.service-img {
    margin-top: 10px;
} */

.nested-links a {
    color: #000;
}

.phishing-img .body-services {
    height: 900px !important;
}

.Service-img {
    margin-top: 20px !important;
    width: 60% !important;
    margin: auto;

    img {
        width: 90% !important;
        height: 50%;
    }
}

.card-titles {
    padding: 10px !important;
    width: 47%;
    text-align: center;
}